<div class="row">
  <div class="col-md-12 column12">
    <h2><%= @car.make %></h2>
    <h3><%= @car.model %></h3>
    <h4><%= @car.country %></h4>
    <p>ID: <%= @car.id %></p>

    <form action="/<%= @car.id %>/edit" method="GET">
      <input class="button" type="submit" name="" value="Edit">
    </form>

    <form action="/<%= @car.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input class="button" type="submit" name="" value="Delete">
    </form>
  </div>
</div>
